<!doctype html>
<html dir="ltr" lang="ZH-CN">
<head>
<meta charset="utf-8">
<title>手机APP下载</title>
<link href="/static/0750/css/app.css" rel="stylesheet" class="app">
<link href="/static/0750/css/m.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="/static/0750/js/html5.js"></script>
<![endif]-->
<script src="/static/0750/js/j.js" type="text/javascript"></script>
<script src="/static/0750/js/o.js" type="text/javascript"></script>
<script>
var ie6=!-[1,]&&!window.XMLHttpRequest;
ie6&&$("html").addClass("killie6");
</script>
</head>

<body>
<header class="head">
 <a href="/" target="_blank" class="floatleft" title="江门0750团购网">江门人自己的团购网，江门本土最权威最潮流的团购网，0750团购网，吃喝玩乐，每天都要团一次！</a>
 <span class="floatright">
  <a href="javascript:;" class="d" name="a">Android</a>
  <a href="javascript:;" class="d" name="i">IOS</a>
  <a href="javascript:;" class="d" name="wa">手机版网站</a>
  <a href="javascript:;" class="d" name="we">微信版</a>
 </span>
</header>
<article class="content">
 <section class="part part1">
  <div class="inside">
   <aside class="movie cloud_1"></aside>
   <aside class="movie cloud_2"></aside>
   <aside class="movie phone"></aside>
   <aside class="movie font">
    <p class="biggersize">出国旅游、自由行必备</p>
    <p class="bigsize">欧洲旅游城市优质购物店、免税店、特色餐厅<br/>休闲娱乐信息，一应俱全</p>
   </aside>
   <aside class="movie code">
    <div class="android-new"></div>
    <div class="d"><a href="javascript:;" class="d" name="a" title="下载0750团购网手机app到电脑">下载手机app到电脑</a></div>
   </aside>
   <aside class="movie exfont">
    <p class="biggersize">国内首款供欧洲出境游使用的全中文集团购、优惠券和点评一体的移动应用</p>
    <p class="bigsize">优惠最划算</p>
    <p>扫二维码快速下载</p>
   </aside>
  </div>
 </section>
 <section class="part part2">
  <div class="inside">
   <aside class="movie phone"></aside>
   <aside class="movie font">
    <p class="biggestsize">高品质购物消费体验</p>
    <p class="biggersize">名牌奢侈品、美食、旅游活动等打折团购优惠券，应有尽有</p>
   </aside>
   <aside class="movie code">
    <div class="c"></div>
    <div class="d"><a href="javascript:;" class="d" name="a" title="下载一道乐app到电脑">下载手机app到电脑</a></div>
   </aside>
   <aside class="movie exfont">
    <p>扫二维码快速下载</p>
   </aside>
  </div>
 </section>
 <section class="part part3">
  <div class="inside">
   <aside class="movie phone"></aside>
   <aside class="movie font">
    <p class="biggestsize">GPS精准自动定位</p>
    <p class="biggersize">查附近、看周边，方便快速寻附近团购、优惠随时享</p>
   </aside>
   <aside class="movie code">
    <div class="android-new"></div>
    <div class="d"><a href="javascript:;" class="d" name="a" title="下载一道乐app到电脑">下载手机app到电脑</a></div>
   </aside>
   <aside class="movie exfont">
    <p>扫二维码快速下载</p>
   </aside>
  </div>
 </section>
 <section class="part part4">
  <div class="inside">
   <aside class="movie phone"></aside>
   <aside class="movie font">
    <p class="biggestsize">热门品牌轻松掌握</p>
    <p class="biggersize">汇集城市精品消费，看评论，商家真实信息为您呈现</p>
   </aside>
   <aside class="movie code">
    <div class="android-new"></div>
    <div class="d"><a href="javascript:;" class="d" name="a" title="下载一道乐app到电脑">下载手机app到电脑</a></div>
   </aside>
   <aside class="movie exfont">
    <p>扫二维码快速下载</p>
   </aside>
  </div>
 </section>
</article>
<!--{include foot_ctn_common}-->
<dialog class="panel">
 <section class="selector">
  <a href="javascript:;" title="关闭" class="c">关闭</a>
  <span class="active"><a href="javascript:;" class="a" title="下载安卓版">下载安卓版，一道乐APP支持所有安卓版本手机下载</a></span>
  <span><a href="javascript:;" class="i" title="下载苹果版">下载苹果版，一道乐APP支持苹果IOS5以上版本手机下载</a></span>
  <span><a href="javascript:;" class="wa" title="浏览手机版网站">浏览手机版网站，只要你有一部能上网的手机就能轻松购买团购</a></span>
  <span><a href="javascript:;" class="we" title="关注微信">关注我们一道乐微信，微信快捷支付购买团购，别忘分享到朋友圈哦</a></span>
 </section>
 <section class="text">
  <ul>
   <li class="active">
    <div class="code">
     <p><img src="/static/0750/images/edaole_android_code.gif" width="101" height="138"></p>
     <p class="mt15">手机扫一扫下载安卓版</p>
    </div>
    <div class="text">
     <p>电脑直接下载</p>
     <p><a href="javascript:;" class="d bigsize">下载安卓手机版</a></p>
     <p class="border">支持android 2.4以上版本的安卓手机</p>
     <p class="mt15">你也可以手机访问<a href="http://openbox.mobilem.360.cn/index/d/sid/2584271" class="link" target="_blank">http://openbox.mobilem.360.cn/index/d/sid/2584271</a>进行下载或扫描左侧二维码进行下载</p>
    </div>
   </li>
   <li>
    <div class="code">
     <p><img src="/static/0750/images/code1.gif" width="101" height="138"></p>
     <p class="mt15">手机扫一扫下载苹果版</p>
    </div>
    <div class="text">
     <p>电脑直接下载</p>
     <p><a href="https://itunes.apple.com/us/app/0750tuan-gou/id881362005?l=zh&ls=1&mt=8" target="_blank" class="d bigsize">从app store下载</a><a href="http://app.91.com/Soft/iPhone/com.0750.app-1.0-1.0.html
" target="_blank" class="d bigsize">从91助手下载</a></p>
     <p class="border">支持IOS 5以上版本的苹果手机</p>
     <p class="mt15">你也可以手机访问<a href="http://www.0750.tuanzhang.cc/mobile/download.php" class="link" target="_blank">http://0750.tuanzhang.cc/mobile/download.php</a>进行下载或扫描左侧二维码进行下载</p>
    </div>
   </li>
   <li>
    <div class="code">
     <p><img src="/static/0750/images/wap_qrcode.png" width="101" height="138"></p>
     <p class="mt15">扫一扫访问手机版网站</p>
    </div>
    <div class="text">
     <p class="border">支持所有可以移动上网的手机</p>
     <p class="mt15">手机访问<a href="javascript:;" class="link" target="_blank">http://www.edaole.com/wap/</a>优惠随时享。</p>
    </div>
   </li>
   <li>
    <div class="code">
     <p><img src="/static/0750/images/weixin_qrcode_small.png" width="101" height="138"></p>
     <p class="mt15">微信扫一扫<i class="dot">，</i>关注我们</p>
    </div>
    <div class="text">
     <p class="border">你需要一台安装了腾讯微信软件才能关注</p>
     <p class="mt15">微信扫一扫左侧二维码关注一道乐即可在微信上购买团购<i class="dot">，</i>方便快捷更优惠</p>
    </div>
   </li>
  </ul>
 </section>
</dialog>
<div class="mask"></div>
<script src="/static/0750/js/b.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
	var _fn=function(){$(window).height()<736&&$(window).height()>=650?$("html").addClass("r650"):$("html").removeClass("r650")};_fn(),owr0750tuan.add(_fn).add(_fn).remove(_fn);
	$.support.leadingWhitespace?($("head link.app").before('<link href="/static/0750/css/o.css" rel="stylesheet">'),$(".content").os0750tuan({sectionContainer:"section.part",animationTime:1500,requireWidth:1100,requireHeight:650,loop:!0})):$("body").addClass("d");
	$('dialog a.c').click(function(){
		ie6&&$(".killie6").removeClass("ie6ofh");
		$('dialog,.mask').hide();
	});
	$('a.d').click(function(){
		ie6&&($(".killie6").addClass("ie6ofh"),$(".killie6 .mask").height($("body").height()),$("html, body").animate({scrollTop:0},"slow")),d($(this).attr("name"));
	});
	$('.selector span a').click(function(){
		d($(this).attr('class'));
	});
});
</script>
</body>
</html>
