 <SCRIPT language=javascript>	
	function expand(el)
	{
		childObj = document.getElementById("child" + el);

		if (childObj.style.display == 'none')
		{
			childObj.style.display = 'block';
		}
		else
		{
			childObj.style.display = 'none';
		}
		return;
	}
</SCRIPT> 

<script type="text/javascript">
    window.onload = function(){
		    var url = window.location.href;
			var val = url.substring(url.length-2,url.length);
			var clode = document.getElementById("child" + val);
			clode.style.display = 'block';
	}
   

</script>  
    <div class="left_muen">
           <TABLE height="100%" cellSpacing=0 cellPadding=0 width=170 
background=/static/images/menu_bg.jpg border=0>
  <TR>
    <TD vAlign=top align=middle>
      <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
        
        <TR>
          <TD height=10></TD></TR></TABLE>
          
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/static/images/menu_bt.jpg><A 
            class=menuParent onclick=expand('aa') 
            href="javascript:void(0);">网站首页</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id="childaa" style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild href="/manage/misc/index.php#aa">首页 Home page</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/misc/ask.php#aa"  >答疑 questions</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/misc/feedback.php#aa"  >反馈 Feedback</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/misc/comment.php#aa"  >点评 review</A></TD></TR>
          
              <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/misc/subscribe.php#aa"  >邮件</A></TD></TR>
              <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/misc/smssubscribe.php#aa"  >短信</A></TD></TR>
              <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/misc/invite.php#aa"  >返利</A></TD></TR>
              <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/misc/money.php#aa"  >财务</A></TD></TR>
              <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/misc/link.php#aa"  >友链</A></TD></TR>
              <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/misc/backup.php#aa"  >备份</A></TD></TR>
              <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/misc/logger.php#aa"  >日志</A></TD></TR>
              <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/misc/expire.php#aa"  >过期提醒</A></TD></TR>
          
        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
          
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/static/images/menu_bt.jpg><A 
            class=menuParent onclick=expand('bb') 
            href="javascript:void(0);">项目管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=childbb style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/team/index.php#bb" >当前项目</A></TD></TR>
          
        <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild href="/manage/team/success.php#bb"  >成功项目</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild href="/manage/team/failure.php#bb" >失败项目</A></TD></TR>
          <TR height=20>
          <TD align=middle width=30><IMG height=9 src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/team/edit.php#bb" >新建项目</A></TD></TR>
          
        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
          
          

    
    
    
    
    
    


      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/static/images/menu_bt.jpg><A 
            class=menuParent onclick=expand('cc') 
            href="javascript:void(0);">订单管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=childcc style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
      
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/order/index.php#cc" >当期订单</A></TD></TR>
          
           <TD align=middle width=30><IMG height=9 
            src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/order/pay.php#cc" >付款订单</A></TD></TR>
          
           <TD align=middle width=30><IMG height=9 
            src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/order/credit.php#cc" >余额支付</A></TD></TR>
          
           <TD align=middle width=30><IMG height=9 
            src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/order/unpay.php#cc" >未付订单</A></TD></TR>
          
           <TD align=middle width=30><IMG height=9 
            src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/order/refund.php#cc" >退款管理</A></TD></TR>
              <TD align=middle width=30><IMG height=9 
            src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/order/route.php#cc" >订单来源</A></TD></TR>
           <TD align=middle width=30><IMG height=9 
            src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/order/express.php#cc" >上传单号</A></TD></TR>
          

        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/static/images/menu_bt.jpg><A 
            class=menuParent onclick=expand('dd') 
            href="javascript:void(0);">优惠劵</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=childdd style="DISPLAY: none" cellSpacing=0 cellPadding=0  width=150 border=0>
      
        <TR height=20>
          <TD align=middle width=30><IMG height=9 src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild href="/manage/coupon/index.php#dd" >未消费</A></TD></TR>        
       <TR height=20>
          <TD align=middle width=30><IMG height=9 src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild href="/manage/coupon/consume.php#dd" >已消费</A></TD></TR>
         <TR height=20>
          <TD align=middle width=30><IMG height=9 src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild href="/manage/coupon/expire.php#dd" >已过期</A></TD></TR>
          
           <TR height=20>
          <TD align=middle width=30><IMG height=9 src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild href="/manage/coupon/card.php#dd" >代金券</A></TD></TR>
          
           <TR height=20>
          <TD align=middle width=30><IMG height=9 src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild href="/manage/coupon/cardcreate.php#dd" >新建代金券</A></TD></TR>
           <TR height=20>
          <TD align=middle width=30><IMG height=9 src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild href="/manage/coupon/paycard.php#dd" >充值卡</A></TD></TR>
           <TR height=20>
          <TD align=middle width=30><IMG height=9 src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild href="/manage/coupon/paycardcreate.php#dd" >新建充值卡</A></TD></TR>
          
          
        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/static/images/menu_bt.jpg><A 
            class=menuParent onclick=expand('ee') 
            href="javascript:void(0);">用户管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=childee style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild href="/manage/user/index.php#ee" >用户列表</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild href="/manage/user/manager.php#ee" >管理员列表</A></TD></TR>
        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/static/images/menu_bt.jpg><A 
            class=menuParent onclick=expand('ff') 
            href="javascript:void(0);">商户管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=childff style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="/manage/partner/index.php#ff">商户列表</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="/manage/partner/create.php#ff">新建商户</A></TD></TR>
            
            <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="/manage/partner/bill_list.php#ff">账单管理</A></TD></TR>
       
        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0>
        
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/static/images/menu_bt.jpg><A 
            class=menuParent onclick=expand('gg') 
            href="javascript:void(0);">营销管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=childgg style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="/manage/market/index.php#gg">邮件营销</A></TD></TR>
        <TR height=20>
          <TD align=middle width=30><IMG height=9 
            src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild 
            href="/manage/market/sms.php#gg" 
            >短信群发</A></TD></TR>
            
        <TR height=20>
          <TD align=middle width=30><IMG height=9 src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild href="/manage/market/down.php#gg">数据下载</A></TD>
       </TR>
       
        <TR height=20>
          <TD align=middle width=30><IMG height=9 src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild href="/manage/topic/index.php#gg">专题管理</A></TD>
       </TR>
       
  
    

        <TR height=4>
          <TD colSpan=2></TD></TR></TABLE>
          
          
          
      <TABLE cellSpacing=0 cellPadding=0 width=150 border=0> 
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/static/images/menu_bt.jpg><A 
            class=menuParent onclick=expand('hh') 
            href="javascript:void(0);">分类管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=childhh style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        
        <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/category/index.php?zone=city#hh" >城市列表</A></TD></TR>
          
                <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/category/index.php?zone=area#hh" >城市区域</A></TD></TR>
          
            <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/category/index.php?zone=group#hh" >项目分类</A></TD></TR>
          
            <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/category/index.php?zone=public#hh" >讨论区分类</A></TD></TR>
          
            <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/category/index.php?zone=grade#hh" >用户等级</A></TD></TR>
          
            <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/category/index.php?zone=express#hh" >快递公司</A></TD></TR>
          
            <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/category/index.php?zone=partner#hh" >商户分类</A></TD></TR>

         </TABLE>
         
         
         
         
         
         <TABLE cellSpacing=0 cellPadding=0 width=150 border=0> 
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/static/images/menu_bt.jpg><A 
            class=menuParent onclick=expand('ii') 
            href="javascript:void(0);">问题调查</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=childii style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        
         <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/vote/index.php#ii" >调查统计</A></TD></TR>
          
            <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/vote/feedback.php#ii" >问题列表</A></TD></TR>
          
            <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/vote/question.php#ii" >正在调查</A></TD></TR>

         </TABLE>
         
         
                  <TABLE cellSpacing=0 cellPadding=0 width=150 border=0> 
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/static/images/menu_bt.jpg><A 
            class=menuParent onclick=expand('jj') 
            href="javascript:void(0);">积分管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=childjj style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        
         <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/credit/index.php#jj" >积分记录</A></TD></TR>
          
            <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/credit/settings.php#jj" >积分规则</A></TD></TR>
          
            <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/credit/goods.php#jj" >商品兑换</A></TD></TR>

         </TABLE>
         
                  <TABLE cellSpacing=0 cellPadding=0 width=150 border=0> 
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/static/images/menu_bt.jpg><A 
            class=menuParent onclick=expand('kk') 
            href="javascript:void(0);">新闻管理</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=childkk style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>    
         <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/news/index.php#kk" >当前新闻</A></TD></TR>
          
            <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/news/edit.php#kk" >添加新闻</A></TD></TR>

         </TABLE>
         
         
         <TABLE cellSpacing=0 cellPadding=0 width=150 border=0> 
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/static/images/menu_bt.jpg>
            <A class=menuParent onclick=expand('mm') href="javascript:void(0);">评论管理</A>
          </TD>
         </TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=childmm style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>    
         <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/comment/index.php#mm" >评论列表</A></TD></TR>
          
            <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/comment/comment_partner_index.php#mm" >五星设置</A></TD></TR>
          


         </TABLE>
         
            
         
                  <TABLE cellSpacing=0 cellPadding=0 width=150 border=0> 
        <TR height=22>
          <TD style="PADDING-LEFT: 30px" background=/static/images/menu_bt.jpg><A 
            class=menuParent onclick=expand('ll') 
            href="javascript:void(0);">系统设置</A></TD></TR>
        <TR height=4>
          <TD></TD></TR></TABLE>
      <TABLE id=childll style="DISPLAY: none" cellSpacing=0 cellPadding=0 
      width=150 border=0>
        
         <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/system/index.php#ll" >基本</A></TD></TR>
          
            <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/system/option.php#ll" >选项</A></TD></TR>
          
            <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/system/bulletin.php#ll" >公告</A></TD></TR>
          
                <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/system/pay.php#ll" >支付</A></TD></TR>
                <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/system/email.php#ll" >邮件</A></TD></TR>
                <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/system/sms.php#ll" >短信</A></TD></TR>
                <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/system/page.php#ll" >页面</A></TD></TR>
                <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/system/cache.php#ll" >缓存</A></TD></TR>
                <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/system/skin.php#ll" >皮肤</A></TD></TR>
                <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/system/template.php#ll" >模板</A></TD></TR>
                <TR height=20>
          <TD align=middle width=30><IMG height=9  src="/static/images/menu_icon.gif" width=9></TD>
          <TD><A class=menuChild  href="/manage/system/upgrade.php#ll" >升级</A></TD></TR>

         </TABLE>  
         
               
      
         
         
         
         </TD>
    <TD width=1 bgColor=#dd1e6f7></TD></TR></TABLE>
 
    </div>