<!--{include header}-->
<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="content">
    <div id="order-pay-return" class="box">
        
        <div class="box-content">
			<div class="success"><h3>{$team['title']}</h3>
				<h3>{$team['title_local']}</h3>
			</div>
            <div class="sect">
				 <div class="coupon-tip">
                        <div class="tipped cf bottom-space">
                            <div class="coupon-status cf">
                            <p class="coupon-info">我的一道乐优惠码</p>
                                <p class="coupon-code"> {$login_user['couponcode']} </p>
                                <p class="code-tip">请向商户出示您的优惠码</p>
                                <p class="edaole-tip">Bitte buchen Sie den Umsatz auf Edaole mit der o.g. Nummer</p>
                                <p class="edaole-logo"><img src="/static/0750/css/img/logo.png"/></p>
                            </div>
                            <h4 class="partner-title">商家：{$partner['title']}</h4>
                            <h4>商家地址：{$partner['address']}</h4>
                            <h4>营业时间：{$partner['yy_time']}</h4>
                            <h4>联系电话：{$partner['phone']}</h4>
                            <h4 class="coupon-help">如何使用优惠码</h4>
                            <h4>1.在“<a href="/coupon/index.php">我的优惠码</a>”中获得优惠码。</h4>
                            <h4>2.向一道乐商户出示，具体规则详见各商户详情。</h4>
				     </div>
                   </div>
              </div>
		</div>
		
	</div>
</div>
<div id="side">
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include footer}-->
